/**
 TODO(you): Write the CSS necessary for fivecolortools.html
*/

title  {
	display:  none;
}

* {
	display:flex;
	flex-direction: column;	
	box-sizing: border-box;
}

body {
	display:flex;
	flex-direction: column;	
	align-items: center;

}

#title {
	max-width: 780px;
	text-align: center;
	margin: auto;
	color:white;
	position: center;
	font-family: 'Miriam Libre',sans-serif;
	font-size: 55px;

}

#title-image{
	background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), URL(header.png);
	height: 500px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	position: anchored;
	
}


#alicia {
	text-align: center;
	height: 100px;
	font-family: 'Alice';
	font-size: 33x;
	color: rgb(51, 51, 51);
	line-height: 33px;
}

#underline {
/* 	text-decoration: underline;
	text-decoration-color: #e6e6e6; */
	border-bottom: 2px solid #e6e6e6;
	padding-bottom: 10px;
	font-style: italic;
	font-size: 18px;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
}

#wrapper {
	display:flex;
	flex-direction: column;	
	text-align: left;
	font-family: 'Alice';
	font-size: 23px;
	line-height: 32px;
	color: rgb(51, 51, 51);
	width: 66%;
}

#link{
	color: #42b4d6;
	text-decoration: none;
}

#link:hover{
	text-decoration: underline;
}

#block {
		margin-bottom: 100px;
}

#alicia {
	display: flex;
	border-color: #e6e6e6;
	border: 2px;
	top: 450px;
	position: absolute;
	transform: translate (-50%, -50%);
	margin-bottom: 10px;
	left: 30%;
	right: 30%;
}

#alicia img {
	display: flex;
	margin-left: auto;
	margin-right:auto;
	border-radius: 100%;
	height: 100px;
	width:  100px;
	border: 1px solid white;
}
#pargtitle{
	font-family: "Zilla Slab Highlight", cursive;
	font-size:45px;
	font-weight:bold;
	color:rgb(51, 51, 51);
}

#highlight{
	background-color: gold;
	font-style: italic;
}
